.container {
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}
.container h1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.container .img {
  text-align: center;
  position: relative;
  width: 300px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
.container img.img__ex1 {
  max-width: 250px;
}
.container img.img__ex2 {
  max-width: 115px;
  position: absolute;
  top: 79px;
  left: 66px;
}
.img__change {
  max-width: 125px;
  position: absolute;
  top: 98px;
  left: 87px;
}
.desc {
  background-color: #f7c975b6;
  position: absolute;
  left: 0;
  transform: translateY(284px);
  height: 81px;
}
.desc h3 {
  font-size: 20px;
}
.desc p {
  font-size: 13px;
}
.img .img__change {
  opacity: 1;
}
.img .desc {
  opacity: 1;
}
.img.opacity img {
  opacity: 0;
}
.img.opacity .desc {
  opacity: 0;
}
